body{
    background-image:url('img/S1.background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.mujer_mig_log{
	    margin-top: -9%;
}

#all_text{
	 margin-top: 2%;
    margin-left: 8%;
}
#titulo_in{
	   font-size: 30px;
	   color:#3FBCC5;
}
.normal_text{
	    font-size: 20px;
	   
}
.inicio{
		margin-top: 3%;
		height: 10px;

}


