
body{
    background-image:url('img/S4.fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bubble{
  width: 13%;
}

#titulo{
  margin-top: 6%;
  font-size: 63px;
  color: red;
}
#down{
  font-size: 22px;
  margin-left: -20%;
  text-align: center;
}
#gob_down{
  margin-top: 2%;
}
#one_gob{
  left: -14%;
}
#two_gob{
  right: -10%;
}
.mujer_mig_log{
  margin-top: -4%;
}
.t_cen{
  text-align: center;
}



#top_green{
  background-color: #3FBCC5;
}
#icons{
  margin-top: 2%;
}
#button_green{
  background-color: #3FBCC5;
    height: 26px;
}