body{
		    background-image:url('img/h1.background.png');
		    background-repeat: no-repeat;
		    background-size: cover;
}

.bubble{
	    width: 13%;
}		


#titulo{
    margin-top: 6%;
    font-size: 37px;
    color: red;    
}
#down{
	font-size: 22px;
    margin-left: -20%;
    text-align: center;
}
#gob_down{
	margin-top: 2%;
}
#one_gob{
	left: -14%;
}
#two_gob{
	right: -10%;
}

