body{
		    background-image:url('img/F2.png');
		    background-repeat: no-repeat;
		    background-size: cover;
}

.bubble{
	    width: 13%;
}		


#titulo{
    margin-top: 6%;
    font-size: 63px;
    color: red;    
}
#down{
	font-size: 22px;
    margin-left: -20%;
    text-align: center;
}
#gob_down{
	margin-top: 2%;
}
#one_gob{
	left: -14%;
}
#two_gob{
	right: -10%;
}
.mujer_mig_log{
	    margin-top: -12%;
}
.t_cen{
	text-align: center;
}

@media (max-width: 884px) {
  #titulo{
      font-size: 48px;

  }
  #down {
    font-size: 18px;
}
}

@media (max-width: 652px) {
  #titulo{
      font-size: 35px;

  }
  #down {
    font-size: 15px;
}
}


